{"openapi":"3.0.3","info":{"title":"Bitculator Data API","description":"Programmatic access to Bitculator market data: coins, prices, history, exchanges, trust scores, tickers, pairs, wallets, sentiment, technical indicators, liquidations, editorial content, and calculators.","version":"1.0.0"},"servers":[{"url":"https://bitculator.com"}],"tags":[{"name":"Coins","description":"\nRanked coin and token market data: paginated listings, single-coin detail, movers\n(gainers/losers), recently-added, trending, and per-coin time series. Prices,\nmarketcap and supply are decimal STRINGS (floats can't carry market precision);\npercentage changes, ranks and counts are numbers."},{"name":"Prices","description":"\nThe lightweight price hot path — current price, marketcap, 24h volume and recent\nchanges for a requested set of coins. `/prices` requires a selector (ids, slugs or\nsymbols); `/prices/{slug}` targets one coin. Optionally `convert` into a fiat\ncurrency (crypto prices refresh ~every minute, fiat FX ~twice daily). Prices and\nmarketcap are decimal strings."},{"name":"Markets","description":"\nTickers (per-exchange markets) and pairs (venue-aggregated markets), plus a coin's\nmarkets and raw per-exchange trading symbols. All of it is snapshot data — no\nper-ticker/pair history exists. USD volumes are numbers; prices are decimal strings."},{"name":"Exchanges","description":"\nExchange rankings, detail, trust scores, time series and per-exchange market/coin\nlistings. Volumes are USD. There is no CEX/DEX column — `type` is derived from the\nexchange taxonomy, so it can be \"cex\", \"dex\" or null."},{"name":"Wallets","description":"\nCrypto wallet reviews — review `score`, supported-asset count, pros/cons counts,\nprice model and release date, plus a grouped tag taxonomy on detail/compare\nresponses. `meta.top_score` is the highest score across all wallets (use it to\nnormalize scores into a 0–1 range)."},{"name":"Global Market","description":"\nMarket-wide aggregates — total marketcap and volume, asset/exchange/pair/market\ncounts, BTC/ETH dominance with a rank-based top-3, the market Fear & Greed reading,\nplus a top-100 heatmap and marketcap/volume history."},{"name":"Sentiment","description":"\nMarket and per-coin sentiment indices. Fear & Greed and Bull/Bear are\n15-minute-refresh SNAPSHOTS — only the current reading exists, there is no time\nseries for them. Altseason carries full daily history. `indicators` is the\nmarket-wide technical tally."},{"name":"Indicators","description":"\nPer-coin technical indicators. Each indicator is its own dedicated endpoint —\nmomentum oscillators (RSI, Stoch-RSI, CCI, MFI, Williams %R), trend and price\nbaselines (SMA, MACD, VWAP), volume flow (OBV, CMF), trend strength (ADX) and\nvolatility — plus a single multi-indicator snapshot. Every family is a DAILY\nseries computed from daily candles (full retention; young assets return leading\nwarm-up `null`s until enough history exists). Price-scale families (SMA, VWAP,\nMACD, OBV) emit decimal strings; bounded oscillators emit numbers. A few\nlong-window periods require a paid plan — noted on each endpoint."},{"name":"Liquidations","description":"\nDerivatives liquidations. Source coverage is currently OKX swap markets only\n(stated in every `meta.note`). The RAW feed (the `/liquidations` list and the\nhourly breakdown) is pruned after ~48 hours; daily rollups are kept forever.\nToday's aggregates are partial and update every ~15 minutes."},{"name":"Conversion","description":"\nConvert between any two active assets (crypto AND fiat), and list the currencies\nusable as conversion legs. Values are decimal strings. Fiat FX rates refresh\n~twice daily; crypto rates ~every minute."},{"name":"Calculators","description":"\nServer-side financial calculators mirroring the web tools: DCA, profit/loss and\nloan (which read cached market data), plus stateless compound-interest and staking\nmath."},{"name":"Editorial","description":"\nEditorial articles — published (ACTIVE) only. `locale` picks the content language\nwith per-field English fallback (the payload reports which `locale` actually won).\nArticles can be filtered by tag or by a related coin/exchange/wallet slug. API\nreads deliberately do NOT increment view counts."},{"name":"Alarms","description":"\nPrice-alarm CRUD — the same alarms the web app manages. Alarms consume the key\nowner's alarm inventory balance, are TARGET-type on coins only, and an above/below\nvs current-value guard blocks alarms that would self-trigger instantly. Key-scoped\n(the API key sets the owner) and never response-cached."},{"name":"Webhooks","description":"\nBitculator POSTs each event as JSON with an HMAC signature header:\n\n    X-Bitculator-Signature: t=<unix-ts>,v1=<hex hmac_sha256(\"<ts>.<raw-body>\", secret)>\n    X-Bitculator-Event: alarm.triggered\n\nVerify it by recomputing the HMAC over \"<t>.<raw request body>\" with your\nendpoint secret and comparing in constant time; reject if `t` is older than a\nfew minutes (replay guard). Example (PHP):\n\n    [$t, $v1] = sscanf($_SERVER['HTTP_X_BITCULATOR_SIGNATURE'], 't=%d,v1=%s');\n    $expected = hash_hmac('sha256', $t.'.'.file_get_contents('php://input'), $secret);\n    abort_unless(hash_equals($expected, $v1) && abs(time() - $t) < 300, 403);\n\nSupported events: `alarm.triggered`. Deliveries retry 3× with backoff; an\nendpoint auto-disables after 10 consecutive failed deliveries."},{"name":"Meta","description":"\nAPI meta and introspection: an authenticated ping to verify a key and the\nmiddleware stack, current-key usage/quota, and the machine-readable OpenAPI spec."}],"components":{"securitySchemes":{"default":{"type":"http","scheme":"bearer","description":"Create a Data API key in your <a href=\"/user/developer/api\">developer console</a> — keys are Bearer-only and carry the <code>data-api</code> ability. Keep them server-side; they are never meant for client-side embedding."}}},"security":[{"default":[]}],"paths":{"/api/v1/coins":{"get":{"summary":"List coins","operationId":"listCoins","description":"Ranked coins with prices, filters and selectors, paginated with Laravel's\n`links` + `meta` envelope. Prices, marketcap and circulating_supply are decimal\nstrings; changes and ranks are numbers.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a single asset type: coin or token.","example":"coin","required":false,"schema":{"type":"string","description":"Restrict to a single asset type: coin or token.","example":"coin","enum":["coin","token"],"nullable":true}},{"in":"query","name":"status","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","required":false,"schema":{"type":"string","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","enum":["active","delisted","untracked","progressing","awaiting","preparing"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_price","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"required":false,"schema":{"type":"number","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"nullable":true}},{"in":"query","name":"max_price","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"required":false,"schema":{"type":"number","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"nullable":true}},{"in":"query","name":"min_marketcap","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_marketcap","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","nullable":true}},{"in":"query","name":"interval","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","required":false,"schema":{"type":"string","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","enum":["24h","7d"],"nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"circulating_supply":"19909179","logo":"https://bitculator.com/storage/media/logo/bitcoin.png","listed_at":"2025-03-15T17:00:43+00:00","last_updated":"2026-06-27T10:34:17+00:00"}],"links":{"first":"https://bitculator.com/api/v1/coins?page=1","last":"https://bitculator.com/api/v1/coins?page=3","prev":null,"next":"https://bitculator.com/api/v1/coins?page=2"},"meta":{"current_page":1,"from":1,"last_page":3,"per_page":50,"to":50,"total":134}},"properties":{"data":{"type":"array","example":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"circulating_supply":"19909179","logo":"https://bitculator.com/storage/media/logo/bitcoin.png","listed_at":"2025-03-15T17:00:43+00:00","last_updated":"2026-06-27T10:34:17+00:00"}],"items":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"name":{"type":"string","example":"Bitcoin"},"symbol":{"type":"string","example":"BTC"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"volume_24h":{"type":"integer","example":5345161962},"change_24h":{"type":"number","example":1.35},"change_7d":{"type":"number","example":4.98},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"circulating_supply":{"type":"string","example":"19909179"},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/bitcoin.png"},"listed_at":{"type":"string","example":"2025-03-15T17:00:43+00:00"},"last_updated":{"type":"string","example":"2026-06-27T10:34:17+00:00"}}}},"links":{"type":"object","properties":{"first":{"type":"string","example":"https://bitculator.com/api/v1/coins?page=1"},"last":{"type":"string","example":"https://bitculator.com/api/v1/coins?page=3"},"prev":{"type":"string","example":null,"nullable":true},"next":{"type":"string","example":"https://bitculator.com/api/v1/coins?page=2"}}},"meta":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"from":{"type":"integer","example":1},"last_page":{"type":"integer","example":3},"per_page":{"type":"integer","example":50},"to":{"type":"integer","example":50},"total":{"type":"integer","example":134}}}}}}}},"422":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"validation","message":"The request parameters are invalid.","details":{"errors":{"per_page":["The per page must not be greater than 250."]}}}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"validation"},"message":{"type":"string","example":"The request parameters are invalid."},"details":{"type":"object","properties":{"errors":{"type":"object","properties":{"per_page":{"type":"array","example":["The per page must not be greater than 250."],"items":{"type":"string"}}}}}}}}}}}}}},"tags":["Coins"]}},"/api/v1/coins/recently-added":{"get":{"summary":"Recently added coins","operationId":"recentlyAddedCoins","description":"Newest listings — sorted by status_updated_at (the went-active timestamp;\ncreated_at is the crawl date, which predates listing by arbitrary amounts).\nSame row shape and pagination envelope as `List coins`.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a single asset type: coin or token.","example":"coin","required":false,"schema":{"type":"string","description":"Restrict to a single asset type: coin or token.","example":"coin","enum":["coin","token"],"nullable":true}},{"in":"query","name":"status","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","required":false,"schema":{"type":"string","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","enum":["active","delisted","untracked","progressing","awaiting","preparing"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_price","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"required":false,"schema":{"type":"number","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"nullable":true}},{"in":"query","name":"max_price","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"required":false,"schema":{"type":"number","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"nullable":true}},{"in":"query","name":"min_marketcap","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_marketcap","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","nullable":true}},{"in":"query","name":"interval","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","required":false,"schema":{"type":"string","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","enum":["24h","7d"],"nullable":true}}],"responses":[],"tags":["Coins"]}},"/api/v1/coins/gainers":{"get":{"summary":"Top gainers","operationId":"topGainers","description":"Biggest positive movers over the `interval` window (24h default, or 7d). Same row\nshape and pagination envelope as `List coins`.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a single asset type: coin or token.","example":"coin","required":false,"schema":{"type":"string","description":"Restrict to a single asset type: coin or token.","example":"coin","enum":["coin","token"],"nullable":true}},{"in":"query","name":"status","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","required":false,"schema":{"type":"string","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","enum":["active","delisted","untracked","progressing","awaiting","preparing"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_price","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"required":false,"schema":{"type":"number","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"nullable":true}},{"in":"query","name":"max_price","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"required":false,"schema":{"type":"number","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"nullable":true}},{"in":"query","name":"min_marketcap","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_marketcap","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","nullable":true}},{"in":"query","name":"interval","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","required":false,"schema":{"type":"string","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","enum":["24h","7d"],"nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"circulating_supply":"19909179","logo":"https://bitculator.com/storage/media/logo/bitcoin.png","listed_at":"2025-03-15T17:00:43+00:00","last_updated":"2026-06-27T10:34:17+00:00"}],"links":{"first":"https://bitculator.com/api/v1/coins/gainers?page=1","last":"https://bitculator.com/api/v1/coins/gainers?page=2","prev":null,"next":"https://bitculator.com/api/v1/coins/gainers?page=2"},"meta":{"current_page":1,"from":1,"last_page":2,"per_page":50,"to":50,"total":89}},"properties":{"data":{"type":"array","example":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"circulating_supply":"19909179","logo":"https://bitculator.com/storage/media/logo/bitcoin.png","listed_at":"2025-03-15T17:00:43+00:00","last_updated":"2026-06-27T10:34:17+00:00"}],"items":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"name":{"type":"string","example":"Bitcoin"},"symbol":{"type":"string","example":"BTC"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"volume_24h":{"type":"integer","example":5345161962},"change_24h":{"type":"number","example":1.35},"change_7d":{"type":"number","example":4.98},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"circulating_supply":{"type":"string","example":"19909179"},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/bitcoin.png"},"listed_at":{"type":"string","example":"2025-03-15T17:00:43+00:00"},"last_updated":{"type":"string","example":"2026-06-27T10:34:17+00:00"}}}},"links":{"type":"object","properties":{"first":{"type":"string","example":"https://bitculator.com/api/v1/coins/gainers?page=1"},"last":{"type":"string","example":"https://bitculator.com/api/v1/coins/gainers?page=2"},"prev":{"type":"string","example":null,"nullable":true},"next":{"type":"string","example":"https://bitculator.com/api/v1/coins/gainers?page=2"}}},"meta":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"from":{"type":"integer","example":1},"last_page":{"type":"integer","example":2},"per_page":{"type":"integer","example":50},"to":{"type":"integer","example":50},"total":{"type":"integer","example":89}}}}}}}}},"tags":["Coins"]}},"/api/v1/coins/losers":{"get":{"summary":"Top losers","operationId":"topLosers","description":"Biggest negative movers over the `interval` window (24h default, or 7d). Same row\nshape and pagination envelope as `List coins`.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a single asset type: coin or token.","example":"coin","required":false,"schema":{"type":"string","description":"Restrict to a single asset type: coin or token.","example":"coin","enum":["coin","token"],"nullable":true}},{"in":"query","name":"status","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","required":false,"schema":{"type":"string","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","enum":["active","delisted","untracked","progressing","awaiting","preparing"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_price","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"required":false,"schema":{"type":"number","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"nullable":true}},{"in":"query","name":"max_price","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"required":false,"schema":{"type":"number","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"nullable":true}},{"in":"query","name":"min_marketcap","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_marketcap","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","nullable":true}},{"in":"query","name":"interval","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","required":false,"schema":{"type":"string","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","enum":["24h","7d"],"nullable":true}}],"responses":[],"tags":["Coins"]}},"/api/v1/coins/trending":{"get":{"summary":"Trending coins","operationId":"trendingCoins","description":"The most-viewed coins right now, ranked by view `score`. A compact projection\n(no pagination): id, slug, name, symbol, rank, price (decimal string), marketcap,\nlogo and score.","parameters":[{"in":"query","name":"limit","description":"How many trending coins to return (1–20, default 10).","example":10,"required":false,"schema":{"type":"integer","description":"How many trending coins to return (1–20, default 10).","example":10,"nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"logo":"https://bitculator.com/storage/media/logo/bitcoin.png","score":2}]},"properties":{"data":{"type":"array","example":[{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"logo":"https://bitculator.com/storage/media/logo/bitcoin.png","score":2}],"items":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"name":{"type":"string","example":"Bitcoin"},"symbol":{"type":"string","example":"BTC"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/bitcoin.png"},"score":{"type":"integer","example":2}}}}}}}}}},"tags":["Coins"]}},"/api/v1/coins/{slug}":{"get":{"summary":"Get coin detail","operationId":"getCoinDetail","description":"Full single-coin profile. Beyond the list fields it adds: `supply`\n(circulating/total/max), `today` OHLC, `all_time_high` / `all_time_low` (price,\ndate and percent_from the current price), `fully_diluted_valuation`, market\n`counts` (exchanges/pairs/tickers/wallets), `decimals`, `genesis_date`, official\n`links` (typed url list), token `contracts`, and a localized HTML `description`\n(falls back to English when the requested locale is missing). All price/supply\nfields are decimal strings.","parameters":[{"in":"query","name":"locale","description":"Content language for the description (falls back to English).","example":"en","required":false,"schema":{"type":"string","description":"Content language for the description (falls back to English).","example":"en","nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":{"id":38,"slug":"bitcoin","name":"Bitcoin","symbol":"BTC","type":"coin","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"fully_diluted_valuation":1333936396042.2,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"supply":{"circulating":"19909179","total":"19970852","max":"21000000"},"today":{"open":"63408.100996475","high":"63640.608639825","low":"62798.732107749","close":"63520.780763913"},"all_time_high":{"price":"125881.21309073","date":"2025-10-06","percent_from":-49.54},"all_time_low":{"price":"0.099","date":"2010-10-12","percent_from":64162304.81},"counts":{"exchanges":11,"pairs":92,"tickers":211,"wallets":206},"decimals":8,"genesis_date":"2009-01-03","description":"<p>Bitcoin is a decentralized digital currency…</p>","links":[{"type":"website","url":"https://bitcoin.org/en/"},{"type":"whitepaper","url":"https://bitcoin.org/bitcoin.pdf"}],"contracts":[],"logo":"https://bitculator.com/storage/media/logo/bitcoin.png","last_updated":"2026-06-27T10:34:17+00:00"}},"properties":{"data":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"name":{"type":"string","example":"Bitcoin"},"symbol":{"type":"string","example":"BTC"},"type":{"type":"string","example":"coin"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"fully_diluted_valuation":{"type":"number","example":1333936396042.2},"volume_24h":{"type":"integer","example":5345161962},"change_24h":{"type":"number","example":1.35},"change_7d":{"type":"number","example":4.98},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"supply":{"type":"object","properties":{"circulating":{"type":"string","example":"19909179"},"total":{"type":"string","example":"19970852"},"max":{"type":"string","example":"21000000"}}},"today":{"type":"object","properties":{"open":{"type":"string","example":"63408.100996475"},"high":{"type":"string","example":"63640.608639825"},"low":{"type":"string","example":"62798.732107749"},"close":{"type":"string","example":"63520.780763913"}}},"all_time_high":{"type":"object","properties":{"price":{"type":"string","example":"125881.21309073"},"date":{"type":"string","example":"2025-10-06"},"percent_from":{"type":"number","example":-49.54}}},"all_time_low":{"type":"object","properties":{"price":{"type":"string","example":"0.099"},"date":{"type":"string","example":"2010-10-12"},"percent_from":{"type":"number","example":64162304.81}}},"counts":{"type":"object","properties":{"exchanges":{"type":"integer","example":11},"pairs":{"type":"integer","example":92},"tickers":{"type":"integer","example":211},"wallets":{"type":"integer","example":206}}},"decimals":{"type":"integer","example":8},"genesis_date":{"type":"string","example":"2009-01-03"},"description":{"type":"string","example":"<p>Bitcoin is a decentralized digital currency…</p>"},"links":{"type":"array","example":[{"type":"website","url":"https://bitcoin.org/en/"},{"type":"whitepaper","url":"https://bitcoin.org/bitcoin.pdf"}],"items":{"type":"object","properties":{"type":{"type":"string","example":"website"},"url":{"type":"string","example":"https://bitcoin.org/en/"}}}},"contracts":{"type":"array","example":[]},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/bitcoin.png"},"last_updated":{"type":"string","example":"2026-06-27T10:34:17+00:00"}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Coin not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Coin not found."}}}}}}}}},"tags":["Coins"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/coins/{slug}/history":{"get":{"summary":"Candle history","operationId":"candleHistory","description":"Per-coin OHLC + volume + marketcap time series. Pick `interval`: minutely,\nhalf-hourly, hourly or daily. Retention is a hard property of the rollup\npipeline — minutely 8 days, half-hourly 3 months, hourly 6 months, daily forever;\nrequests beyond a window return what exists. When a `limit` is set you get the\nMOST RECENT N rows in the window, emitted oldest-first. Prices are decimal\nstrings.","parameters":[{"in":"query","name":"interval","description":"minutely, half-hourly, hourly or daily (default daily).","example":"daily","required":false,"schema":{"type":"string","description":"minutely, half-hourly, hourly or daily (default daily).","example":"daily"}},{"in":"query","name":"start","description":"ISO date/time lower bound.","example":"2026-06-01","required":false,"schema":{"type":"string","description":"ISO date/time lower bound.","example":"2026-06-01"}},{"in":"query","name":"end","description":"ISO date/time upper bound (a date-only value means through that day).","example":"2026-06-30","required":false,"schema":{"type":"string","description":"ISO date/time upper bound (a date-only value means through that day).","example":"2026-06-30"}},{"in":"query","name":"limit","description":"Max rows (1–2000, default 1000).","example":30,"required":false,"schema":{"type":"integer","description":"Max rows (1–2000, default 1000).","example":30}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"time":"2026-06-14T23:01:01+00:00","price":"65481.259006434","open":"64193.294621057","high":"65513.599862059","low":"63528.138075558","close":"65481.259006434","volume_24h":3795657715,"marketcap":1303678106704.5}],"meta":{"coin":"bitcoin","interval":"daily","count":1,"retention":"full history"}},"properties":{"data":{"type":"array","example":[{"time":"2026-06-14T23:01:01+00:00","price":"65481.259006434","open":"64193.294621057","high":"65513.599862059","low":"63528.138075558","close":"65481.259006434","volume_24h":3795657715,"marketcap":1303678106704.5}],"items":{"type":"object","properties":{"time":{"type":"string","example":"2026-06-14T23:01:01+00:00"},"price":{"type":"string","example":"65481.259006434"},"open":{"type":"string","example":"64193.294621057"},"high":{"type":"string","example":"65513.599862059"},"low":{"type":"string","example":"63528.138075558"},"close":{"type":"string","example":"65481.259006434"},"volume_24h":{"type":"integer","example":3795657715},"marketcap":{"type":"number","example":1303678106704.5}}}},"meta":{"type":"object","properties":{"coin":{"type":"string","example":"bitcoin"},"interval":{"type":"string","example":"daily"},"count":{"type":"integer","example":1},"retention":{"type":"string","example":"full history"}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Coin not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Coin not found."}}}}}}}}},"tags":["Coins"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/coins/{slug}/marketcap-history":{"get":{"summary":"Marketcap history","operationId":"marketcapHistory","description":"The same per-coin rollups as `Candle history`, projected to `{time, marketcap}`\nonly. Same `interval` choices and retention windows (minutely 8 days,\nhalf-hourly 3 months, hourly 6 months, daily forever), most-recent-N when a\n`limit` is set.","parameters":[{"in":"query","name":"interval","description":"minutely, half-hourly, hourly or daily (default daily).","example":"daily","required":false,"schema":{"type":"string","description":"minutely, half-hourly, hourly or daily (default daily).","example":"daily"}},{"in":"query","name":"start","description":"ISO date/time lower bound.","example":"2026-06-01","required":false,"schema":{"type":"string","description":"ISO date/time lower bound.","example":"2026-06-01"}},{"in":"query","name":"end","description":"ISO date/time upper bound.","example":"2026-06-30","required":false,"schema":{"type":"string","description":"ISO date/time upper bound.","example":"2026-06-30"}},{"in":"query","name":"limit","description":"Max rows (1–2000, default 1000).","example":30,"required":false,"schema":{"type":"integer","description":"Max rows (1–2000, default 1000).","example":30}}],"responses":[],"tags":["Coins"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/coins/{slug}/sparkline":{"get":{"summary":"Coin sparkline","operationId":"coinSparkline","description":"A compact price series for the coin over the chosen `period`, for drawing\nsparklines.\n\n`points` is a sample of at most 480 readings, oldest first, each a decimal-string\n`price` at an ISO-8601 `time`. `low` and `high` are the true extremes of the whole\nperiod — they bound every point, but need not appear among the sampled ones.\n`change` is the move across the period in PERCENT (`1.25` means +1.25%).","parameters":[{"in":"query","name":"period","description":"24h, 7d, 30d, 60d, 90d, 180d or 365d (default 7d).","example":"7d","required":false,"schema":{"type":"string","description":"24h, 7d, 30d, 60d, 90d, 180d or 365d (default 7d).","example":"7d","nullable":true}}],"responses":[],"tags":["Coins"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/prices":{"get":{"summary":"Get prices","operationId":"getPrices","description":"Prices for a requested set of coins. Pass at least one selector — `ids`, `slugs`\nor `symbols` (up to 100 combined). `meta.currency` echoes the conversion target\n(USD unless `convert` is set).","parameters":[{"in":"query","name":"ids","description":"Coin ids to price (CSV). At least one of ids, slugs or symbols is required; the three lists cap at 100 selectors combined. This field is required when none of <code>slugs</code> and <code>symbols</code> are present. Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Coin ids to price (CSV). At least one of ids, slugs or symbols is required; the three lists cap at 100 selectors combined. This field is required when none of <code>slugs</code> and <code>symbols</code> are present. Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Coin slugs to price (CSV). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>symbols</code> are present. Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Coin slugs to price (CSV). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>symbols</code> are present. Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Coin symbols to price (CSV, case-insensitive). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>slugs</code> are present. Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Coin symbols to price (CSV, case-insensitive). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>slugs</code> are present. Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"convert","description":"Convert prices/marketcap into an active fiat currency by symbol (default USD). FX rates refresh ~twice daily.","example":"EUR","required":false,"schema":{"type":"string","description":"Convert prices/marketcap into an active fiat currency by symbol (default USD). FX rates refresh ~twice daily.","example":"EUR","enum":["USD","EUR","JPY","BGN","CZK","DKK","GBP","HUF","PLN","RON","SEK","CHF","ISK","NOK","HRK","RUB","TRY","AUD","BRL","CAD","CNY","HKD","IDR","ILS","INR","KRW","MXN","MYR","NZD","PHP","SGD","THB","ZAR","ARS","DZD","MAD","TWD"],"nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":38,"slug":"bitcoin","symbol":"BTC","name":"Bitcoin","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"last_updated":"2026-06-27T10:34:17+00:00"},{"id":39,"slug":"ethereum","symbol":"ETH","name":"Ethereum","rank":2,"price":"1672.4623100248","marketcap":203243220990.49,"volume_24h":69585141532,"change_24h":1.42,"change_7d":7.56,"change_rank_24h":0,"change_rank_7d":0,"last_updated":"2026-06-12T09:32:14+00:00"}],"meta":{"currency":"USD","count":2}},"properties":{"data":{"type":"array","example":[{"id":38,"slug":"bitcoin","symbol":"BTC","name":"Bitcoin","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"last_updated":"2026-06-27T10:34:17+00:00"},{"id":39,"slug":"ethereum","symbol":"ETH","name":"Ethereum","rank":2,"price":"1672.4623100248","marketcap":203243220990.49,"volume_24h":69585141532,"change_24h":1.42,"change_7d":7.56,"change_rank_24h":0,"change_rank_7d":0,"last_updated":"2026-06-12T09:32:14+00:00"}],"items":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"symbol":{"type":"string","example":"BTC"},"name":{"type":"string","example":"Bitcoin"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"volume_24h":{"type":"integer","example":5345161962},"change_24h":{"type":"number","example":1.35},"change_7d":{"type":"number","example":4.98},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"last_updated":{"type":"string","example":"2026-06-27T10:34:17+00:00"}}}},"meta":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"count":{"type":"integer","example":2}}}}}}}},"422":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"validation","message":"The request parameters are invalid.","details":{"errors":{"ids":["Pass at least one selector: ids, slugs or symbols."]}}}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"validation"},"message":{"type":"string","example":"The request parameters are invalid."},"details":{"type":"object","properties":{"errors":{"type":"object","properties":{"ids":{"type":"array","example":["Pass at least one selector: ids, slugs or symbols."],"items":{"type":"string"}}}}}}}}}}}}}},"tags":["Prices"]}},"/api/v1/prices/{slug}":{"get":{"summary":"Get a coin price","operationId":"getACoinPrice","description":"Single-coin price snapshot. Optionally `convert` into an active fiat currency by\nsymbol (default USD).","parameters":[{"in":"query","name":"convert","description":"Active fiat currency symbol to price in (default USD).","example":"EUR","required":false,"schema":{"type":"string","description":"Active fiat currency symbol to price in (default USD).","example":"EUR","nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":{"id":38,"slug":"bitcoin","symbol":"BTC","name":"Bitcoin","rank":1,"price":"63520.780763913","marketcap":1264646594448.5,"volume_24h":5345161962,"change_24h":1.35,"change_7d":4.98,"change_rank_24h":0,"change_rank_7d":0,"last_updated":"2026-06-27T10:34:17+00:00"},"meta":{"currency":"USD","count":1}},"properties":{"data":{"type":"object","properties":{"id":{"type":"integer","example":38},"slug":{"type":"string","example":"bitcoin"},"symbol":{"type":"string","example":"BTC"},"name":{"type":"string","example":"Bitcoin"},"rank":{"type":"integer","example":1},"price":{"type":"string","example":"63520.780763913"},"marketcap":{"type":"number","example":1264646594448.5},"volume_24h":{"type":"integer","example":5345161962},"change_24h":{"type":"number","example":1.35},"change_7d":{"type":"number","example":4.98},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"last_updated":{"type":"string","example":"2026-06-27T10:34:17+00:00"}}},"meta":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"count":{"type":"integer","example":1}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Coin not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Coin not found."}}}}}}}}},"tags":["Prices"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/historical-price":{"get":{"summary":"Historical price","operationId":"historicalPrice","description":"The coin's USD price on a given date, read from the daily history (exact day,\n±3-day fallback — the same resolver the portfolio uses). Crypto only: fiat rows\nhave no daily history.","parameters":[{"in":"query","name":"slug","description":"The coin's slug identifier.","example":"bitcoin","required":true,"schema":{"type":"string","description":"The coin's slug identifier.","example":"bitcoin"}},{"in":"query","name":"date","description":"date The lookup date (after 2008-12-31, not in the future).","example":"2021-04-14","required":true,"schema":{"type":"string","description":"date The lookup date (after 2008-12-31, not in the future).","example":"2021-04-14"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":{"slug":"bitcoin","symbol":"BTC","date":"2021-04-14","price":"63109.7","currency":"USD"}},"properties":{"data":{"type":"object","properties":{"slug":{"type":"string","example":"bitcoin"},"symbol":{"type":"string","example":"BTC"},"date":{"type":"string","example":"2021-04-14"},"price":{"type":"string","example":"63109.7"},"currency":{"type":"string","example":"USD"}}}}}}}}},"tags":["Prices"]}},"/api/v1/coins/{slug}/markets":{"get":{"summary":"Coin markets","operationId":"coinMarkets","description":"All markets for a coin — the tickers whose pair has the coin as base OR quote.\nSame row shape and filters as `List tickers`.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"exchange","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","required":false,"schema":{"type":"string","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","nullable":true}},{"in":"query","name":"pair","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"instrument","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","required":false,"schema":{"type":"string","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","enum":["future","option","swap","spot","margin"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","required":false,"schema":{"type":"string","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","nullable":true}},{"in":"query","name":"min_volume","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"min_change","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"nullable":true}},{"in":"query","name":"max_change","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"nullable":true}},{"in":"query","name":"sort","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","required":false,"schema":{"type":"string","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","nullable":true}}],"responses":[],"tags":["Markets"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/coins/{slug}/symbols":{"get":{"summary":"Coin trading symbols","operationId":"coinTradingSymbols","description":"The coin's raw per-exchange trading symbols — sparsely populated reference data\n(coverage is best-effort).","parameters":[],"responses":[],"tags":["Markets"]},"parameters":[{"in":"path","name":"slug","description":"The coin slug.","example":"bitcoin","required":true,"schema":{"type":"string"}}]},"/api/v1/tickers":{"get":{"summary":"List tickers","operationId":"listTickers","description":"Individual per-exchange markets (tickers), paginated. Filter by exchange, pair,\ninstrument and volume/change ranges. USD volumes are numbers; prices are decimal\nstrings.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"exchange","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","required":false,"schema":{"type":"string","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","nullable":true}},{"in":"query","name":"pair","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"instrument","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","required":false,"schema":{"type":"string","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","enum":["future","option","swap","spot","margin"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","required":false,"schema":{"type":"string","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","nullable":true}},{"in":"query","name":"min_volume","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"min_change","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"nullable":true}},{"in":"query","name":"max_change","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"nullable":true}},{"in":"query","name":"sort","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","required":false,"schema":{"type":"string","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","nullable":true}}],"responses":[],"tags":["Markets"]}},"/api/v1/pairs":{"get":{"summary":"List pairs","operationId":"listPairs","description":"Venue-aggregated trading pairs, ranked by 24h USD volume. Filter by a coin slug\n(base or quote) and volume range.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"search","description":"Free-text match on the pair symbol. Must not be greater than 50 characters.","example":"BTC","required":false,"schema":{"type":"string","description":"Free-text match on the pair symbol. Must not be greater than 50 characters.","example":"BTC","nullable":true}},{"in":"query","name":"coin","description":"Restrict to pairs where this coin slug is the base or quote asset. Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Restrict to pairs where this coin slug is the base or quote asset. Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_volume","description":"Only pairs with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only pairs with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only pairs with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only pairs with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"sort","description":"Sort field: volume_usd or updated (prefix with - for descending). Defaults to -volume_usd.","example":"-volume_usd","required":false,"schema":{"type":"string","description":"Sort field: volume_usd or updated (prefix with - for descending). Defaults to -volume_usd.","example":"-volume_usd","enum":["volume_usd","-volume_usd","updated","-updated"],"nullable":true}}],"responses":[],"tags":["Markets"]}},"/api/v1/pairs/{id}":{"get":{"summary":"Get pair detail","operationId":"getPairDetail","description":"One pair plus every exchange ticker listing it, ordered by volume.","parameters":[],"responses":{"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Pair not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Pair not found."}}}}}}}}},"tags":["Markets"]},"parameters":[{"in":"path","name":"id","description":"The pair id.","example":1,"required":true,"schema":{"type":"integer"}}]},"/api/v1/exchanges":{"get":{"summary":"List exchanges","operationId":"listExchanges","description":"Ranked exchanges with 24h volume, dominance, pair/asset counts and recent\nchanges. Paginated with Laravel's `links` + `meta` envelope.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a venue type: cex or dex (resolved via the exchange taxonomy).","example":"cex","required":false,"schema":{"type":"string","description":"Restrict to a venue type: cex or dex (resolved via the exchange taxonomy).","example":"cex","enum":["cex","dex"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on exchange name. Must not be greater than 100 characters.","example":"binance","required":false,"schema":{"type":"string","description":"Free-text match on exchange name. Must not be greater than 100 characters.","example":"binance","nullable":true}},{"in":"query","name":"min_pairs","description":"Only exchanges listing at least this many pairs. Must be at least 0.","example":100,"required":false,"schema":{"type":"integer","description":"Only exchanges listing at least this many pairs. Must be at least 0.","example":100,"nullable":true}},{"in":"query","name":"max_pairs","description":"Only exchanges listing at most this many pairs. Must be at least 0.","example":2000,"required":false,"schema":{"type":"integer","description":"Only exchanges listing at most this many pairs. Must be at least 0.","example":2000,"nullable":true}},{"in":"query","name":"min_assets","description":"Only exchanges listing at least this many assets. Must be at least 0.","example":50,"required":false,"schema":{"type":"integer","description":"Only exchanges listing at least this many assets. Must be at least 0.","example":50,"nullable":true}},{"in":"query","name":"max_assets","description":"Only exchanges listing at most this many assets. Must be at least 0.","example":1000,"required":false,"schema":{"type":"integer","description":"Only exchanges listing at most this many assets. Must be at least 0.","example":1000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only exchanges with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only exchanges with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only exchanges with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only exchanges with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific exchange ids (CSV, up to 100). Must not be greater than 1000 characters.","example":"1,12","required":false,"schema":{"type":"string","description":"Filter to specific exchange ids (CSV, up to 100). Must not be greater than 1000 characters.","example":"1,12","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific exchange slugs (CSV, up to 100). Must not be greater than 2000 characters.","example":"binance-exchange,gateio","required":false,"schema":{"type":"string","description":"Filter to specific exchange slugs (CSV, up to 100). Must not be greater than 2000 characters.","example":"binance-exchange,gateio","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: volume, rank, volume_dominance, change_24h, change_7d, pairs, assets. Must not be greater than 100 characters.","example":"-volume","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: volume, rank, volume_dominance, change_24h, change_7d, pairs, assets. Must not be greater than 100 characters.","example":"-volume","nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":1,"slug":"binance-exchange","name":"Binance","rank":1,"volume_24h":6152385798,"volume_dominance":36.98,"change_24h":200.09,"change_7d":22.87,"change_rank_24h":0,"change_rank_7d":0,"pairs":1115,"assets":100,"logo":"https://bitculator.com/storage/media/logo/binance.png","last_updated":"2026-06-15T16:59:21+00:00"}],"links":{"first":"https://bitculator.com/api/v1/exchanges?page=1","last":"https://bitculator.com/api/v1/exchanges?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"per_page":50,"to":10,"total":10}},"properties":{"data":{"type":"array","example":[{"id":1,"slug":"binance-exchange","name":"Binance","rank":1,"volume_24h":6152385798,"volume_dominance":36.98,"change_24h":200.09,"change_7d":22.87,"change_rank_24h":0,"change_rank_7d":0,"pairs":1115,"assets":100,"logo":"https://bitculator.com/storage/media/logo/binance.png","last_updated":"2026-06-15T16:59:21+00:00"}],"items":{"type":"object","properties":{"id":{"type":"integer","example":1},"slug":{"type":"string","example":"binance-exchange"},"name":{"type":"string","example":"Binance"},"rank":{"type":"integer","example":1},"volume_24h":{"type":"integer","example":6152385798},"volume_dominance":{"type":"number","example":36.98},"change_24h":{"type":"number","example":200.09},"change_7d":{"type":"number","example":22.87},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"pairs":{"type":"integer","example":1115},"assets":{"type":"integer","example":100},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/binance.png"},"last_updated":{"type":"string","example":"2026-06-15T16:59:21+00:00"}}}},"links":{"type":"object","properties":{"first":{"type":"string","example":"https://bitculator.com/api/v1/exchanges?page=1"},"last":{"type":"string","example":"https://bitculator.com/api/v1/exchanges?page=1"},"prev":{"type":"string","example":null,"nullable":true},"next":{"type":"string","example":null,"nullable":true}}},"meta":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"from":{"type":"integer","example":1},"last_page":{"type":"integer","example":1},"per_page":{"type":"integer","example":50},"to":{"type":"integer","example":10},"total":{"type":"integer","example":10}}}}}}}}},"tags":["Exchanges"]}},"/api/v1/exchanges/{slug}":{"get":{"summary":"Get exchange detail","operationId":"getExchangeDetail","description":"Full single-exchange profile: ranking, volume/dominance, pair and asset counts,\n`established` date, `location`, referral `website`, and the derived `type`\n(cex/dex/null).","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":{"id":1,"slug":"binance-exchange","name":"Binance","type":"cex","rank":1,"volume_24h":6152385798,"volume_dominance":36.98,"change_24h":200.09,"change_7d":22.87,"change_rank_24h":0,"change_rank_7d":0,"pairs":1115,"assets":100,"established":"2017-07-14","location":"Cayman Islands","website":"https://accounts.binance.com/register","logo":"https://bitculator.com/storage/media/logo/binance.png","last_updated":"2026-06-15T16:59:21+00:00"}},"properties":{"data":{"type":"object","properties":{"id":{"type":"integer","example":1},"slug":{"type":"string","example":"binance-exchange"},"name":{"type":"string","example":"Binance"},"type":{"type":"string","example":"cex"},"rank":{"type":"integer","example":1},"volume_24h":{"type":"integer","example":6152385798},"volume_dominance":{"type":"number","example":36.98},"change_24h":{"type":"number","example":200.09},"change_7d":{"type":"number","example":22.87},"change_rank_24h":{"type":"integer","example":0},"change_rank_7d":{"type":"integer","example":0},"pairs":{"type":"integer","example":1115},"assets":{"type":"integer","example":100},"established":{"type":"string","example":"2017-07-14"},"location":{"type":"string","example":"Cayman Islands"},"website":{"type":"string","example":"https://accounts.binance.com/register"},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/binance.png"},"last_updated":{"type":"string","example":"2026-06-15T16:59:21+00:00"}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Exchange not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Exchange not found."}}}}}}}}},"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/exchanges/{slug}/trust-score":{"get":{"summary":"Get exchange trust score","operationId":"getExchangeTrustScore","description":"An aggregate 0–10 trust `score` plus its 13-factor `breakdown` (rank, volume,\nage, volume_trend, stability, rank_stability, ticker_health, pairs, community,\nassets, dominance, market_breadth, transparency). Computed per exchange and\ncached 24h.","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":{"exchange":"binance-exchange","score":8.3,"breakdown":{"rank":10,"volume":10,"age":10,"volume_trend":7,"stability":3,"rank_stability":10,"ticker_health":8.6,"pairs":9.6,"community":6,"assets":6.6,"dominance":9.4,"market_breadth":8,"transparency":8.5}}},"properties":{"data":{"type":"object","properties":{"exchange":{"type":"string","example":"binance-exchange"},"score":{"type":"number","example":8.3},"breakdown":{"type":"object","properties":{"rank":{"type":"integer","example":10},"volume":{"type":"integer","example":10},"age":{"type":"integer","example":10},"volume_trend":{"type":"integer","example":7},"stability":{"type":"integer","example":3},"rank_stability":{"type":"integer","example":10},"ticker_health":{"type":"number","example":8.6},"pairs":{"type":"number","example":9.6},"community":{"type":"integer","example":6},"assets":{"type":"number","example":6.6},"dominance":{"type":"number","example":9.4},"market_breadth":{"type":"integer","example":8},"transparency":{"type":"number","example":8.5}}}}}}}}}},"404":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"error":{"code":"not_found","message":"Exchange not found."}},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Exchange not found."}}}}}}}}},"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/exchanges/{slug}/history":{"get":{"summary":"Exchange history","operationId":"exchangeHistory","description":"Volume / dominance / pairs / assets time series (the exchange rollups carry no\nOHLC). Pick `interval`: minutely, hourly or daily. Retention is a hard property\nof the rollup pipeline — minutely 8 days, hourly 6 months, daily forever; when a\n`limit` is set you get the most-recent N rows in the window, oldest-first.","parameters":[{"in":"query","name":"interval","description":"minutely, hourly or daily (default daily).","example":"daily","required":false,"schema":{"type":"string","description":"minutely, hourly or daily (default daily).","example":"daily","nullable":true}},{"in":"query","name":"start","description":"ISO date/time lower bound.","example":"2026-06-01","required":false,"schema":{"type":"string","description":"ISO date/time lower bound.","example":"2026-06-01","nullable":true}},{"in":"query","name":"end","description":"ISO date/time upper bound (a date-only value means through that day).","example":"2026-06-30","required":false,"schema":{"type":"string","description":"ISO date/time upper bound (a date-only value means through that day).","example":"2026-06-30","nullable":true}},{"in":"query","name":"limit","description":"Max rows (1–2000, default 1000).","example":30,"required":false,"schema":{"type":"integer","description":"Max rows (1–2000, default 1000).","example":30,"nullable":true}}],"responses":[],"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/exchanges/{slug}/sparkline":{"get":{"summary":"Exchange sparkline","operationId":"exchangeSparkline","description":"The exchange's volume sparkline series for a period (defaults to 7d) — the same\nseries the web's exchange rows render.\n\n`points` is a sample of at most 480 readings, oldest first, each a `volume` at an\nISO-8601 `time`. `low` and `high` are the true extremes of the whole period — they\nbound every point, but need not appear among the sampled ones. `change` is the move\nacross the period in PERCENT (`1.25` means +1.25%).","parameters":[{"in":"query","name":"period","description":"One of `24h`, `7d` (default), `30d`, `60d`, `90d`, `180d`, `365d`.","example":"7d","required":false,"schema":{"type":"string","description":"One of `24h`, `7d` (default), `30d`, `60d`, `90d`, `180d`, `365d`.","example":"7d","nullable":true}}],"responses":[],"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/exchanges/{slug}/tickers":{"get":{"summary":"Exchange markets","operationId":"exchangeMarkets","description":"The exchange's ticker listings (its markets), paginated. Already scoped to the\nexchange — do not pass an `exchange` parameter here.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"exchange","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","required":false,"schema":{"type":"string","description":"Restrict to a single exchange by slug (omit on the per-exchange listing, which is already scoped). Must match the regex /^[a-z0-9\\-]{1,120}$/.","example":"binance-exchange","nullable":true}},{"in":"query","name":"pair","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Restrict to a single pair by id. Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"instrument","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","required":false,"schema":{"type":"string","description":"Instrument type: future, option, swap, spot or margin (plurals accepted).","example":"spot","enum":["future","option","swap","spot","margin"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","required":false,"schema":{"type":"string","description":"Free-text match on the ticker symbol. Must not be greater than 50 characters.","example":"BTC","nullable":true}},{"in":"query","name":"min_volume","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only tickers with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"min_change","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or above this value.","example":-50,"nullable":true}},{"in":"query","name":"max_change","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"required":false,"schema":{"type":"number","description":"Only tickers with a 24h percentage change at or below this value.","example":50,"nullable":true}},{"in":"query","name":"sort","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","required":false,"schema":{"type":"string","description":"A single sort field (prefix with - for descending). Sortable: volume_usd, change_24h, price_usd, updated. Defaults to -volume_usd. Must not be greater than 100 characters.","example":"-volume_usd","nullable":true}}],"responses":[],"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/exchanges/{slug}/assets":{"get":{"summary":"Exchange coins","operationId":"exchangeCoins","description":"Coins listed on the exchange, returned in the same shape as `List coins` and\naccepting the same filters/sort.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"type","description":"Restrict to a single asset type: coin or token.","example":"coin","required":false,"schema":{"type":"string","description":"Restrict to a single asset type: coin or token.","example":"coin","enum":["coin","token"],"nullable":true}},{"in":"query","name":"status","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","required":false,"schema":{"type":"string","description":"Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.","example":"active","enum":["active","delisted","untracked","progressing","awaiting","preparing"],"nullable":true}},{"in":"query","name":"search","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","required":false,"schema":{"type":"string","description":"Free-text match on name or symbol. Must not be greater than 100 characters.","example":"bitcoin","nullable":true}},{"in":"query","name":"min_price","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"required":false,"schema":{"type":"number","description":"Only coins priced at or above this USD value. Must be at least 0.","example":0.5,"nullable":true}},{"in":"query","name":"max_price","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"required":false,"schema":{"type":"number","description":"Only coins priced at or below this USD value. Must be at least 0.","example":100000,"nullable":true}},{"in":"query","name":"min_marketcap","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_marketcap","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"required":false,"schema":{"type":"number","description":"Only coins with a USD marketcap at or below this value. Must be at least 0.","example":5000000000000,"nullable":true}},{"in":"query","name":"min_volume","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or above this value. Must be at least 0.","example":1000000,"nullable":true}},{"in":"query","name":"max_volume","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"required":false,"schema":{"type":"number","description":"Only coins with 24h USD volume at or below this value. Must be at least 0.","example":100000000000,"nullable":true}},{"in":"query","name":"ids","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","required":false,"schema":{"type":"string","description":"Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.","example":"38,39","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","required":false,"schema":{"type":"string","description":"Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.","example":"bitcoin,ethereum","nullable":true}},{"in":"query","name":"symbols","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","required":false,"schema":{"type":"string","description":"Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.","example":"BTC,ETH","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.","example":"-marketcap","nullable":true}},{"in":"query","name":"interval","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","required":false,"schema":{"type":"string","description":"Movers window for /coins/gainers and /coins/losers only: 24h or 7d.","example":"24h","enum":["24h","7d"],"nullable":true}}],"responses":[],"tags":["Exchanges"]},"parameters":[{"in":"path","name":"slug","description":"The exchange slug.","example":"binance-exchange","required":true,"schema":{"type":"string"}}]},"/api/v1/wallets":{"get":{"summary":"List wallets","operationId":"listWallets","description":"Reviewed wallets with score, asset count, pros/cons counts, price model, status\nand release date. Paginated with Laravel's `links` + `meta` envelope, plus\n`meta.top_score`.","parameters":[{"in":"query","name":"page","description":"Page number (1-based). Must be at least 1.","example":1,"required":false,"schema":{"type":"integer","description":"Page number (1-based). Must be at least 1.","example":1,"nullable":true}},{"in":"query","name":"per_page","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"required":false,"schema":{"type":"integer","description":"Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.","example":50,"nullable":true}},{"in":"query","name":"search","description":"Free-text match on wallet name. Must not be greater than 100 characters.","example":"ledger","required":false,"schema":{"type":"string","description":"Free-text match on wallet name. Must not be greater than 100 characters.","example":"ledger","nullable":true}},{"in":"query","name":"min_score","description":"Only wallets with a review score at or above this value. Must be at least 0.","example":50,"required":false,"schema":{"type":"integer","description":"Only wallets with a review score at or above this value. Must be at least 0.","example":50,"nullable":true}},{"in":"query","name":"max_score","description":"Only wallets with a review score at or below this value. Must be at least 0.","example":214,"required":false,"schema":{"type":"integer","description":"Only wallets with a review score at or below this value. Must be at least 0.","example":214,"nullable":true}},{"in":"query","name":"tags","description":"Filter by tag taxonomy: comma-separated category-group ids (the same ids the web facet filters submit). Must not be greater than 1000 characters.","example":"12,34","required":false,"schema":{"type":"string","description":"Filter by tag taxonomy: comma-separated category-group ids (the same ids the web facet filters submit). Must not be greater than 1000 characters.","example":"12,34","nullable":true}},{"in":"query","name":"ids","description":"Filter to specific wallet ids (CSV, up to 100). Must not be greater than 1000 characters.","example":"175,317","required":false,"schema":{"type":"string","description":"Filter to specific wallet ids (CSV, up to 100). Must not be greater than 1000 characters.","example":"175,317","nullable":true}},{"in":"query","name":"slugs","description":"Filter to specific wallet slugs (CSV, up to 100). Must not be greater than 2000 characters.","example":"frostsnap,coin98-fusion-card","required":false,"schema":{"type":"string","description":"Filter to specific wallet slugs (CSV, up to 100). Must not be greater than 2000 characters.","example":"frostsnap,coin98-fusion-card","nullable":true}},{"in":"query","name":"sort","description":"Comma-separated sort fields; prefix with - for descending. Sortable: score, released_at, assets, pros, cons. Must not be greater than 100 characters.","example":"-score","required":false,"schema":{"type":"string","description":"Comma-separated sort fields; prefix with - for descending. Sortable: score, released_at, assets, pros, cons. Must not be greater than 100 characters.","example":"-score","nullable":true}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","example":{"data":[{"id":317,"slug":"frostsnap","name":"Frostsnap","score":125,"assets":1,"pros":18,"cons":0,"price_model":"paid","status":"Active","released_at":null,"logo":"https://bitculator.com/storage/media/logo/frostsnap.png"}],"links":{"first":"https://bitculator.com/api/v1/wallets?page=1","last":"https://bitculator.com/api/v1/wallets?page=7","prev":null,"next":"https://bitculator.com/api/v1/wallets?page=2"},"meta":{"current_page":1,"from":1,"last_page":7,"per_page":50,"to":50,"total":321,"top_score":214}},"properties":{"data":{"type":"array","example":[{"id":317,"slug":"frostsnap","name":"Frostsnap","score":125,"assets":1,"pros":18,"cons":0,"price_model":"paid","status":"Active","released_at":null,"logo":"https://bitculator.com/storage/media/logo/frostsnap.png"}],"items":{"type":"object","properties":{"id":{"type":"integer","example":317},"slug":{"type":"string","example":"frostsnap"},"name":{"type":"string","example":"Frostsnap"},"score":{"type":"integer","example":125},"assets":{"type":"integer","example":1},"pros":{"type":"integer","example":18},"cons":{"type":"integer","example":0},"price_model":{"type":"string","example":"paid"},"status":{"type":"string","example":"Active"},"released_at":{"type":"string","example":null,"nullable":true},"logo":{"type":"string","example":"https://bitculator.com/storage/media/logo/frostsnap.png"}}}},"links":{"type":"object","properties":{"first":{"type":"string","example":"https://bitculator.com/api/v1/wallets?page=1"},"last":{"type":"string","example":"https://bitculator.com/api/v1/wallets?page=7"},"prev":{"type":"string","example":null,"nullable":true},"next":{"type":"string","example":"https://bitculator.com/api/v1/wallets?page=2"}}},"meta":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"from":{"type":"integer","example":1},"last_page":{"type":"integer","example":7},"per_page":{"type":"integer","example":50},"to":{"type":"integer","example":50},"total":{"type":"integer","example":321},"top_score":{"type":"integer","example":214}}}}}}}}},"tags":["Wallets"]}},"/api/v1/wallets/timeline":{"get":{"summary":"Wallet release timeline","operationId":"walletReleaseTimeline","descript
[...]
